- name: app setup
  ansible.builtin.import_role:
    name: common
    tasks_from: app-setup.yaml

- name: app setup
  ansible.builtin.import_role:
    name: common
    tasks_from: java.yaml

- name: install mysql python libraries
  ansible.builtin.pip:
    executable: pip3.9
    name: "{{ item }}"
  loop:
  - cryptography
  - PyMySQL
  - boto3
  - botocore

- name: Explicitly look up and set MySQL root password as a simple fact
  ansible.builtin.set_fact:
    mysql_password_plain: "{{ lookup('amazon.aws.aws_ssm', '/azharproject/dev/mysql/mysql_root_password', region='us-east-1', decrypt=True ) }}"
  # IMPORTANT: Force the lookup to happen on the controller where credentials exist
  delegate_to: localhost
  run_once: true

- name: import shipping data into mysql
  community.mysql.mysql_db:
    state: import
    name: all
    login_host: "{{ Mysql_Host }}"
    login_user: "{{ Mysql_Root_User }}"
    login_password: "{{ mysql_password_plain }}" ##recent change
    target: "{{ item }}"
  loop:
  - /app/db/schema.sql
  - /app/db/app-user.sql 
  - /app/db/master-data.sql

- name: system setup
  ansible.builtin.import_role:
    name: common
    tasks_from: system_start.yaml